$page-bg-color: #ededed;
$app-bg-color: #ededed;
$primary-color: #00AA8D;
$primary-darker-color: #008975;
$primary-lighter-color: #00BF9A;
$text-color: #FFF;
$grey-text-color: #999;
$dark-grey-color: #4a4a4a;

//buttons
$button-color: #D13B00;
$button-color-hover: #ED4300;

//inputs
$invalid-input-text: #ED4300;
