@import '../styles/_colors.scss';

.btn {
  background: $button-color;
  border: none;
  border-radius: 0px;
  padding: 10px 25px;
  color: $text-color;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 14px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn:hover {
  background: $button-color-hover;
}
