@import '../styles/_colors.scss';

.panel {
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 15px;
  min-width: 120px;
  height: 200px;
  background-color: #FFF;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    .content .actionInfo {
      opacity: 1;
      transition: all 0.2s 1s linear;
    }
  }

  .header {
    background-color: $primary-color;
    padding: 20px;
    color: white;
    overflow: hidden;

    h1 {
      font-size: 16px;
      font-weight: normal;
      margin: 0px;
    }

    h2 {
      font-size: 12px;
      font-weight: 100;
      margin: 5px 0 0 0;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    p {
      margin: 0;
    }
    .time {
      font-size: 30px;
      letter-spacing: 5px;
    }

    .actionInfo {
      opacity: 0;
    }
    .greyLabel {
      color: $grey-text-color;
      font-size: 10px;
    }
    input {
      box-sizing: border-box;
      width: 80%;
      padding: 15px;
      font-size: 16px;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .panel .content {
    padding: 10px;

    .time {
      font-size: 18px;
      letter-spacing: 2px;
    }
  }
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: rgba(0,0,0,0.5);
    transform: scale(1.2);
  }
}
